body {
  font-family: $font-main;
}

h1 {
  text-transform: uppercase;
  text-align: center;
}

p {
  text-transform: uppercase;
  text-align: center;
  font-weight: $font-normal;

  @include mobile {
    font-size: 1em;
  }
  @include mobile-landscape {
    font-size: 4rem;
  }
}

.text--regular {
  color: $light;
  font-size: 1.6rem;
  margin-left: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.text--category {
  text-shadow: 0.1rem 0.1rem 0 $dark-low;
  font-size: 2rem;
  padding-bottom: 1rem;
  font-weight: $font-bold;
}
