@mixin mobile {
  @media (max-width: 567px) and (min-height: 415px) {
    @content;
  }
}

@mixin mobile-landscape {
  @media (max-height: 414px) and (orientation: landscape) {
    @content;
  }
}

@mixin tablet {
  @media (min-height: 415px) and (min-width: 568px) and (max-width: 1024px) {
    @content;
  }
}

@mixin tape-effect {
  content: '';
  position: absolute;
  width: 15%;
  height: 20%;
  z-index: 2;
  opacity: 0.7;
  background-color: $blue-main;
  clip-path: polygon(
    0 0,
    5% 10%,
    0 20%,
    5% 30%,
    0 40%,
    5% 50%,
    0 60%,
    5% 70%,
    0 80%,
    5% 90%,
    0 100%,
    100% 100%,
    95% 90%,
    100% 80%,
    95% 70%,
    100% 60%,
    95% 50%,
    100% 40%,
    95% 30%,
    100% 20%,
    95% 10%,
    100% 0
  );
}

@mixin title($text-shadow, $delay, $hover-color, $link-color) {
  z-index: 1;
  margin: 5rem;
  font-size: 5rem;
  text-shadow: 0.3rem 0.3rem 0 $text-shadow;
  box-shadow: 0.5rem 0.5rem 0 $dark-low;
  animation: title-animation 4s #{$delay} infinite;

  display: inline-block;
  background-color: $light;
  padding: 2rem;
  h2 {
    transition: all 0.5s;
  }
  a {
    transition: all 1s;
    color: $link-color;
  }
  &:hover h2 {
    transform: scale(1.02);
  }
  &:hover a {
    color: $hover-color;
  }
}

@mixin item($color) {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding-left: 2rem;
  margin-left: 0 5rem;
  height: 100%;
  transition: all 0.3s;
  transform: translateX(-50rem);
  z-index: 2;
  color: $color;
  text-transform: uppercase;
}
