$dark-low: #333;
$dark-mid: #222;
$dark-high: #111;
$light: #fff;

$pink-high: #f266a7;
$pink-low: #d9adbd;
$blue-main: #7ea5d9;
$yellow-main: #f2c879;
$orange-main: #f2c6b6;
$green-main: #2e5951;

$font-main: "Bitter", serif;

$font-light: 300;
$font-normal: 400;
