$dark-low: #333;
$dark-mid: #222;
$dark-high: #111;
$light: #fff;

$blue-low: #38afd9;
$blue-main: #7ea5d9;
$blue-high: #517191;

$yellow-low: #f2e307;
$yellow-main: #f2c879;
$yellow-high: #bfb304;

$pink-low: #d9adbd;
$pink-high: #f266a7;
$orange-main: #f2c6b6;
$green-main: #2e5951;
$red-main: #b32227;

$font-main: "Bitter", serif;

$font-light: 300;
$font-normal: 400;
$font-bold: 700;
