.challenges {
  &__title {
    @include title($yellow-main, 0s, turquoise, $red-main);
    @include mobile {
      font-size: 3rem;
    }
  }
}

.item--challenge {
  @include item($yellow-main);
  @include mobile {
    padding-left: 0;
    margin-left: 3rem;
  }
}
